nav {
    position: fixed;
    top: 10px;
    width: 97%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

nav .navbar {
    background-color: var(--background-color);
    border: 1px solid var(--accent-color);
    border-radius: 50px;
    opacity: 0.95;
    display: flex;
    align-items: center;
    height: 80px;
    padding: 0 50px;
}

nav .navbar .logo {
    color: var(--primary-color);
    font-size: 35px;
    height: 64px;
    width: 64px;
    background: var(--background-color);
    border: 1px solid var(--accent-color);
    border-radius: 48px;
    left: 20px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .navbar ul {
    display: flex;
    flex-grow: 1;
    justify-content: left;
    margin-left: 2em;
}

nav .navbar ul li {
    list-style: none;
}

nav .navbar ul li a {
    color: var(--title-text-color);
    font-size: 18px;
    margin-right: 25px;
    transition: color 0.3s ease;
    position: relative;
}

nav .navbar ul li:hover a {
    color: var(--primary-color);
}

nav .navbar a {
    display: flex;
    margin-left: 20px;
    color: #7b7b7b;
    font-size: 24px;
    line-height: 30px;
    transition: color 0.3s ease;
}

nav .navbar a:hover {
    color: var(--primary-color);
}

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("../assets/image-cropped.png") no-repeat center center;
    background-size: cover;
    height: 60rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 0 50px #000000;
}

.hero .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.65);
    padding: 40px;
    border-radius: 20px;
    border: 1px solid var(--primary-color);
    box-shadow: 0px 1px 5px rgba(255, 170, 0, 0.8),
        0px 3px 8px rgba(255, 170, 0, 0.6), 0px 5px 10px rgba(255, 170, 0, 0.4),
        0px 8px 15px rgba(255, 170, 0, 0.2);
    animation: flicker 2s infinite;
    width: 100%;
    max-width: 500px;
    margin: 0 20px;
}

.hero .hero-content h1 {
    font-size: 2.5rem;
    color: var(--title-text-color);
    font-weight: 600;
}

.hero .hero-content h1 span {
    color: var(--primary-color);
    text-decoration: underline;
}

.hero .hero-content p.title {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--title-text-color);
    margin-top: 10px;
}

.hero .hero-content p.subtitle {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-top: 10px;
}

.hero .hero-content img {
    width: 250px;
    margin-top: 20px;
    border-radius: 50%;
    border: 10px solid var(--accent-color);
}

.hero .social-media-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.hero .social-media-icons a {
    margin: 0 15px;
    font-size: 2rem;
    color: var(--title-text-color);
    transition: color 0.3s;
}

.hero .social-media-icons a:hover {
    color: var(--primary-color);
}

.main-container {
    margin: 5em 40px;
}

.about {
    margin: 0 auto 5em;
    background: var(--item_background_color);
    border: 1px solid var(--accent-color);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 80px;
    border-radius: 48px;
    padding: 40px 80px;
    max-width: 70em;
    position: relative;
}

.about img {
    width: 280px;
    border-radius: 12px;
}

.about .info h3 {
    color: var(--title-text-color);
    font-size: 28px;
    font-weight: 600;
}

.about .info p {
    color: var(--text-color);
    margin-bottom: 30px;
}

.skills {
    margin: 0 auto 5em;
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 70em;
    position: relative;
}

.skill-category {
    background: var(--item_background_color);
    border: 1px solid var(--accent-color);
    padding: 40px 80px;
    border-radius: 48px;
    text-align: center;
    width: 100%;
}

.skill-category h3 {
    font-size: 28px;
    color: var(--title-text-color);
    font-weight: 600;
    margin-bottom: 30px;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.skill-item {
    display: flex;
    align-items: center;
    justify-self: flex-start;
    background-color: #1d1d1d;
    padding: 10px 20px;
    border: 1px solid var(--accent-color);
    border-radius: 12px;
    gap: 10px;
}

.skill-item p {
    font-size: 1.2rem;
    color: var(--title-text-color);
}

.icon i {
    font-size: 40px;
}

.page-intro {
    text-align: center;
}

.page-intro .intro-img {
    margin-top: 5em;
    width: 500px;
    height: auto;
    border-radius: 16px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}

.page-intro h1 {
    font-size: 2.5rem;
    margin-top: 15px;
    color: var(--title-text-color);
}

.page-intro h1 span {
    color: var(--primary-color);
    text-decoration: underline;
}

.portfolio {
    padding-top: 5em;
    max-width: 70em;
    margin: 0 auto;
}

.year-container {
    margin-bottom: 15px;
    padding: 40px 80px;
    border: 1px solid var(--accent-color);
    border-radius: 48px;
    background-color: var(--item_background_color);
    opacity: 0;
    transform: translateY(350px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.year-container.visible {
    opacity: 1;
    transform: translateY(0);
}

.year-container h3 {
    color: var(--title-text-color);
    margin-bottom: 10px;
}

.year-container ul {
    list-style-type: "> ";
    padding-left: 20px;
}

.year-container ul li {
    margin-bottom: 5px;
    color: var(--text-color);
}

.projects {
    padding-top: 5em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(470px, 1fr));
    gap: 30px;
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid var(--accent-color);
    border-radius: 48px;
    padding: 25px;
    background: var(--item_background_color);
    color: var(--title-text-color);
    gap: 15px;
    animation: slideUp 0.5s ease-out;
    transition: all 0.3s ease;
}

.project:hover {
    transform: scale(1.05);
}

.project h3 a {
    font-size: 1.8rem;
    color: var(--title-text-color);
    transition: all 0.3s ease;
}

.project h3 a:hover {
    color: var(--primary-color);
}

.project p {
    color: var(--text-color);
}

.project img {
    height: 350px;
    width: 350px;
    object-fit: cover;
    object-position: top center;
}

.languages {
    display: flex;
    gap: 15px;
}

.language-item {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
    font-size: 1.2rem;
    background: var(--item_background_color);
    border: 1px solid var(--accent-color);
    border-radius: 12px;
    padding: 10px;
}

.language-item i {
    font-size: 40px;
}

.language-item p {
    color: var(--title-text-color);
}

footer {
    position: relative;
    background-color: var(--background-color);
    border: 1px solid var(--accent-color);
    padding: 80px 50px 40px;
    margin-top: 100px;
}

footer .cols {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
}

footer .cols .about-col {
    flex: 3;
}

footer .cols .about-col img {
    width: 70px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 5px solid var(--accent-color);
}

footer .cols .about-col h3 {
    color: var(--primary-color);
    font-size: 20px;
    margin-bottom: 10px;
}

footer .cols .about-col p {
    color: var(--text-color);
    font-size: 13px;
}

footer .cols .spacer {
    flex: 5;
}

footer .cols .social-col {
    margin-right: 40px;
}

footer .cols .social-col a:hover {
    color: var(--primary-color);
}

footer .cols .social-col h4 {
    color: var(--title-text-color);
    margin-bottom: 20px;
}

footer .cols .social-col a {
    display: block;
    color: #7b7b7b;
    font-size: 24px;
    line-height: 30px;
    transition: color 0.3s ease;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes flicker {
    0% {
        box-shadow: 0px 1px 5px rgba(255, 170, 0, 0.8),
            0px 3px 8px rgba(255, 170, 0, 0.6),
            0px 5px 10px rgba(255, 170, 0, 0.4),
            0px 8px 15px rgba(255, 170, 0, 0.2);
    }
    20% {
        box-shadow: 0px 1px 5px rgba(255, 170, 0, 0.5),
            0px 3px 8px rgba(255, 170, 0, 0.4),
            0px 5px 10px rgba(255, 170, 0, 0.2),
            0px 8px 15px rgba(255, 170, 0, 0.1);
    }
    40% {
        box-shadow: 0px 1px 5px rgba(255, 170, 0, 0.7),
            0px 3px 8px rgba(255, 170, 0, 0.5),
            0px 5px 10px rgba(255, 170, 0, 0.3),
            0px 8px 15px rgba(255, 170, 0, 0.15);
    }
    60% {
        box-shadow: 0px 1px 5px rgba(255, 170, 0, 0.6),
            0px 3px 8px rgba(255, 170, 0, 0.4),
            0px 5px 10px rgba(255, 170, 0, 0.25),
            0px 8px 15px rgba(255, 170, 0, 0.1);
    }
    80% {
        box-shadow: 0px 1px 5px rgba(255, 170, 0, 0.9),
            0px 3px 8px rgba(255, 170, 0, 0.7),
            0px 5px 10px rgba(255, 170, 0, 0.5),
            0px 8px 15px rgba(255, 170, 0, 0.3);
    }
    100% {
        box-shadow: 0px 1px 5px rgba(255, 170, 0, 0.8),
            0px 3px 8px rgba(255, 170, 0, 0.6),
            0px 5px 10px rgba(255, 170, 0, 0.4),
            0px 8px 15px rgba(255, 170, 0, 0.2);
    }
}

@keyframes trail {
    100% {
        offset-distance: 100%;
    }
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(350px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}
