nav {
    position: fixed;
    top: 10px;
    width: 97%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

nav .navbar {
    background-color: var(--background-color);
    border: 1px solid var(--accent-color);
    border-radius: 50px;
    opacity: 0.95;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    padding: 0 50px;
}

nav .navbar .nav-links {
    display: flex;
    flex-grow: 1;
    justify-content: left;
    align-items: center;
}

nav .navbar .social-links {
    display: flex;
    justify-content: left;
}

nav .navbar ul li {
    list-style: none;
}

nav .navbar .nav-links li .nav-link {
    color: var(--title-text-color);
    font-size: 18px;
    margin-right: 30px;
    transition: color 0.3s ease;
    position: relative;
}

nav .navbar .nav-links li:hover .nav-link {
    color: var(--primary-color);
}

nav .navbar .nav-links li .nav-link::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0;
    height: 1.7px;
    background-color: var(--primary-color);
    transition: width 0.3s ease;
}

nav .navbar .nav-links li:hover .nav-link::after {
    width: 100%;
}

nav .navbar .social-links li .social-link {
    display: flex;
    margin-left: 20px;
    color: #7b7b7b;
    font-size: 24px;
    line-height: 30px;
    transition: all 0.3s ease;
}

nav .navbar .social-links li .social-link:hover {
    color: var(--primary-color);
    scale: 1.5;
}

nav .navbar .social-links li .social-link:active {
    scale: 0.95;
}

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("../assets/image-cropped.png") no-repeat center center;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 0 50px #000000;
    padding: 100px 20px 30px;
}

.hero .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.65);
    padding: 40px;
    border-radius: 20px;
    border: 1px solid var(--primary-color);
    box-shadow: 0px 0px 20px 4px rgba(255, 170, 0, 0.8),
        0px 0px 30px 6px rgba(255, 170, 0, 0.6),
        0px 0px 40px 8px rgba(255, 170, 0, 0.4),
        0px 0px 50px 10px rgba(255, 170, 0, 0.2);
    animation: flicker 2s infinite;
    width: 100%;
    max-width: 500px;
    margin: 0 20px;
}

.hero .hero-content h1 {
    font-size: clamp(1.8rem, 6vw, 3rem);
    color: var(--title-text-color);
    font-weight: 600;
}

.hero .hero-content h1 span {
    color: var(--primary-color);
    text-decoration: underline;
}

.hero .hero-content p.title {
    font-size: clamp(1rem, 6vw, 2.5rem);
    font-weight: 600;
    color: var(--title-text-color);
    margin-top: 10px;
}

.hero .hero-content p.subtitle {
    font-size: clamp(1rem, 2vw, 1.2rem);
    color: var(--text-color);
    margin-top: 10px;
}

.hero .hero-content img {
    width: 250px;
    margin-top: 20px;
    border-radius: 50%;
    border: 10px solid var(--accent-color);
}

.minor-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 50px;
    text-align: center;
}

.minor-info .info {
    display: flex;
    gap: 10px;
    margin: 5px 0;
    border: 1px solid var(--accent-color);
    background: rgba(0, 0, 0, 0.65);
    box-shadow: 0px 0px 20px 4px rgba(255, 170, 0, 0.8),
        0px 0px 30px 6px rgba(255, 170, 0, 0.6),
        0px 0px 40px 8px rgba(255, 170, 0, 0.4),
        0px 0px 50px 10px rgba(255, 170, 0, 0.2);

    animation: flicker 2s infinite;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 100px;
    border-radius: 12px;
    padding: 10px 15px;
    color: var(--text-color);
    font-size: clamp(0.9rem, 2vw, 1.2rem);
}

.main-container {
    margin: 5em 40px;
}

.about {
    margin: 0 auto 5em;
    border: 1px solid var(--accent-color);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 80px;
    border-radius: 48px;
    padding: 40px 80px;
    max-width: 70em;
    position: relative;
}

.about img {
    width: 280px;
    border-radius: 12px;
}

.about .info h3 {
    color: var(--title-text-color);
    font-size: clamp(1.5rem, 4vw, 1.8rem);
    font-weight: 600;
}

.about .info p {
    color: var(--text-color);
    font-size: clamp(1rem, 2vw, 1.2rem);
    margin-bottom: 30px;
}

.skills {
    margin: 0 auto 5em;
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 70em;
    position: relative;
}

.skill-category {
    border: 1px solid var(--accent-color);
    padding: 40px 80px;
    border-radius: 48px;
    text-align: center;
    width: 100%;
}

.skill-category h3 {
    font-size: clamp(1.5rem, 4vw, 1.8rem);
    color: var(--title-text-color);
    font-weight: 600;
    margin-bottom: 30px;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.skill-item {
    display: flex;
    align-items: center;
    justify-self: flex-start;
    background-color: var(--item-background-color);
    padding: 10px 20px;
    border: 1px solid var(--accent-color);
    border-radius: 12px;
    gap: 10px;
    transition: all 0.3s ease;
}

.skill-item:hover {
    scale: 1.1;
}

.skill-item:active {
    scale: 0.95;
}

.skill-item p {
    font-size: clamp(1rem, 2vw, 1.2rem);
    color: var(--title-text-color);
}

.icon i {
    font-size: clamp(30px, 5vw, 40px);
}

.page-intro {
    text-align: center;
}

.page-intro .intro-img {
    margin-top: 5em;
    width: clamp(300px, 30vw, 500px);
    height: auto;
    border-radius: 16px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}

.page-intro h1 {
    font-size: clamp(2rem, 4vw, 3rem);
    margin-top: 15px;
    color: var(--title-text-color);
}

.page-intro h1 span {
    color: var(--primary-color);
    text-decoration: underline;
}

.awards {
    padding-top: 5em;
    max-width: 70em;
    margin: 0 auto;
}

.year-container {
    margin-bottom: 15px;
    padding: 40px 80px;
    border: 1px solid var(--accent-color);
    border-radius: 48px;
    opacity: 0;
    transform: translateY(350px);
    transition: opacity 0.4s ease-out, transform 0.4s ease-out;
}

.year-container.visible {
    opacity: 1;
    transform: translateY(0);
}

.year-container h3 {
    color: var(--title-text-color);
    font-size: clamp(1.5rem, 4vw, 1.8rem);
    margin-bottom: 10px;
}

.year-container ul {
    list-style-type: "> ";
    padding-left: 20px;
}

.year-container ul li {
    margin-bottom: 5px;
    color: var(--text-color);
}

.projects {
    padding-top: 5em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(470px, 1fr));
    gap: 30px;
}

.project {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border: 1px solid var(--accent-color);
    border-radius: 48px;
    padding: 25px;
    color: var(--title-text-color);
    gap: 15px;
    animation: slideUp 0.5s ease-out;
    transition: all 0.3s ease;
}

.project:hover {
    transform: scale(1.05);
}

.project h3 a {
    font-size: clamp(1.5rem, 4vw, 1.8rem);
    color: var(--title-text-color);
    position: relative;
    transition: all 0.3s ease;
}

.project:hover h3 a {
    color: var(--primary-color);
}

.project:hover h3 a::after {
    width: 100%;
}

.project h3 a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1.7px;
    background-color: var(--primary-color);
    transition: width 0.3s ease;
}

.project p {
    font-size: clamp(1rem, 2vw, 1.2rem);
    text-align: center;
    color: var(--text-color);
}

.project img {
    width: 100%;
    max-width: clamp(300px, 350px, 400px);
    aspect-ratio: 1;
    height: auto;
    object-fit: cover;
    object-position: top center;
    border-radius: 12px;
}

.languages {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.language-item {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
    font-size: clamp(1rem, 2vw, 1.2rem);
    background: var(--item-background-color);
    border: 1px solid var(--accent-color);
    border-radius: 12px;
    padding: 10px;
}

.language-item i {
    font-size: clamp(30px, 5vw, 40px);
}

.language-item p {
    color: var(--title-text-color);
    font-size: clamp(1rem, 2vw, 1.2rem);
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

.filter-panel {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 1rem 0;
    gap: 1rem;
}

#toggleFilters {
    display: flex;
    align-items: center;
    font-size: clamp(1rem, 2vw, 1.2rem);
    color: var(--title-text-color);
    background-color: var(--background-color);
    border: 1px solid var(--accent-color);
    border-radius: 12px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

#toggleFilters:hover {
    transform: scale(1.1);
}

#toggleFilters:active {
    transform: scale(0.95);
}

#filterContainer {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    border: 1px solid var(--accent-color);
    padding: 1rem;
    border-radius: 12px;
    background-color: var(--background-color);
    transition: all 0.15s ease;
}

#languageFilter {
    font-size: clamp(1rem, 2vw, 1.2rem);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    justify-items: start;
}

.language-button {
    display: inline-block;
    font-size: clamp(1rem, 2vw, 1.2rem);
    color: var(--title-text-color);
    background-color: transparent;
    border: none;
    border-radius: 12px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    width: 150px;
    text-align: center;
    transition: all 0.15s ease;
}

.language-button:hover {
    background-color: var(--accent-color);
}

.language-button.active {
    background-color: var(--primary-color);
}

#clearFilters {
    font-size: clamp(1rem, 2vw, 1.2rem);
    margin-top: 2rem;
    border-radius: 12px;
    padding: 0.5rem 1rem;
    background-color: var(--background-color);
    border: 1px solid var(--accent-color);
    color: var(--title-text-color);
    cursor: pointer;
    transition: all 0.3s ease;
}

#clearFilters:hover {
    transform: scale(1.1);
}

#clearFilters:active {
    transform: scale(0.95);
    background-color: var(--primary-color);
}

#backToTop {
    display: flex;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: var(--item-background-color);
    color: #fff;
    border: none;
    border-radius: 12px;
    font-size: 1.5rem;
    visibility: hidden;
    opacity: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: opacity 0.3s ease, visibility 0s ease 0.3s,
        background-color 0.3s ease;
}

#backToTop.show {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease, background-color 0.3s ease;
}

#backToTop:hover {
    background-color: var(--primary-color);
}

footer {
    position: relative;
    background-color: var(--background-color);
    border-top: 1px solid var(--accent-color);
    padding: 80px 50px 40px;
    margin-top: 100px;
}

footer .cols {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
}

footer .cols .about-col {
    flex: 3;
}

footer .cols .about-col img {
    width: 70px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 5px solid var(--accent-color);
}

footer .cols .about-col h3 {
    color: var(--primary-color);
    font-size: 20px;
    margin-bottom: 5px;
}

footer .cols .about-col p {
    color: var(--text-color);
    font-size: 13px;
    margin-bottom: 10px;
}

footer .cols .spacer {
    flex: 1;
}

footer .cols .social-col h4 {
    color: var(--title-text-color);
    margin-bottom: 20px;
}

footer .cols .social-col ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

footer .cols .social-col .social-link {
    display: flex;
    color: #7b7b7b;
    font-size: 24px;
    line-height: 30px;
    transition: all 0.3s ease;
}

footer .cols .social-col .social-link:hover {
    color: var(--primary-color);
    scale: 1.5;
}

footer .cols .social-col .social-link:active {
    scale: 0.95;
}

footer .footer-separator {
    width: 100%;
    height: 1px;
    background-color: var(--accent-color);
    margin: 20px 0;
    opacity: 0.6;
}

footer .footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    width: 100%;
}

footer .footer-bottom .footer-text {
    margin: 0;
    font-size: clamp(12px, 2vw, 14px);
    color: var(--text-color);
}

footer .footer-bottom .footer-text strike {
    color: #313131;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes flicker {
    0% {
        box-shadow: 0px 0px 10px 2px rgba(255, 170, 0, 0.8),
            0px 0px 15px 4px rgba(255, 170, 0, 0.6),
            0px 0px 20px 6px rgba(255, 170, 0, 0.4),
            0px 0px 25px 8px rgba(255, 170, 0, 0.2);
    }
    20% {
        box-shadow: 0px 0px 10px 2px rgba(255, 170, 0, 0.5),
            0px 0px 15px 4px rgba(255, 170, 0, 0.4),
            0px 0px 20px 6px rgba(255, 170, 0, 0.2),
            0px 0px 25px 8px rgba(255, 170, 0, 0.1);
    }
    40% {
        box-shadow: 0px 0px 10px 2px rgba(255, 170, 0, 0.7),
            0px 0px 15px 4px rgba(255, 170, 0, 0.5),
            0px 0px 20px 6px rgba(255, 170, 0, 0.3),
            0px 0px 25px 8px rgba(255, 170, 0, 0.15);
    }
    60% {
        box-shadow: 0px 0px 10px 2px rgba(255, 170, 0, 0.6),
            0px 0px 15px 4px rgba(255, 170, 0, 0.4),
            0px 0px 20px 6px rgba(255, 170, 0, 0.25),
            0px 0px 25px 8px rgba(255, 170, 0, 0.1);
    }
    80% {
        box-shadow: 0px 0px 10px 2px rgba(255, 170, 0, 0.9),
            0px 0px 15px 4px rgba(255, 170, 0, 0.7),
            0px 0px 20px 6px rgba(255, 170, 0, 0.5),
            0px 0px 25px 8px rgba(255, 170, 0, 0.3);
    }
    100% {
        box-shadow: 0px 0px 10px 2px rgba(255, 170, 0, 0.8),
            0px 0px 15px 4px rgba(255, 170, 0, 0.6),
            0px 0px 20px 6px rgba(255, 170, 0, 0.4),
            0px 0px 25px 8px rgba(255, 170, 0, 0.2);
    }
}

@keyframes trail {
    100% {
        offset-distance: 100%;
    }
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(350px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}
