<div class="cols">
    <div class="about-col">
        <img
            src="https://github.com/Postigic.png"
            alt="GitHub pfp"
            loading="lazy"
        />
        <h3>Postigic</h3>
        <p>Software Developer</p>
    </div>

    <div class="spacer"></div>

    <div class="social-col">
        <h4>Social Media</h4>
        <ul class="social-links"></ul>
    </div>

    <div class="footer-separator"></div>

    <div class="footer-bottom">
        <p class="footer-text">
            Made with <strike>ChatGPT</strike> ❤️ by Postigic |
        </p>
    </div>
</div>
