<div class="cols">
    <div class="about-col">
        <img
            src="https://github.com/Postigic.png"
            alt="GitHub pfp"
            loading="lazy"
        />
        <p>Postigic</p>
        <!-- <p>if you see this... no you didn't</p> -->
    </div>

    <div class="spacer"></div>

    <div class="social-col">
        <p>Find me on...</p>
        <ul class="social-links"></ul>
    </div>

    <div class="footer-separator"></div>

    <div class="footer-bottom">
        <p class="footer-text">Made with ❤️ by Postigic |</p>
    </div>
</div>
