<div class="cols">
    <div class="about-col">
        <img src="https://github.com/Postigic.png" alt="GitHub pfp" />
        <h3>Postigic</h3>
        <p>Software Developer</p>
    </div>

    <div class="spacer"></div>

    <div class="social-col">
        <h4>Social Media</h4>
        <a
            href="https://www.youtube.com/@Postigic"
            target="_blank"
            aria-label="YouTube"
            ><i class="bx bxl-youtube"></i
        ></a>
        <a
            href="https://twitter.com/Postigic"
            target="_blank"
            aria-label="Twitter"
            ><i class="bx bxl-twitter"></i
        ></a>
        <a
            href="https://github.com/Postigic"
            target="_blank"
            aria-label="GitHub"
            ><i class="bx bxl-github"></i
        ></a>
    </div>
</div>
