<div class="navbar">
    <ul class="nav-links">
        <li><a class="nav-link" href="index.html">Home</a></li>
        <li><a class="nav-link" href="portfolio.html">Portfolio</a></li>
        <li><a class="nav-link" href="projects.html">Projects</a></li>
    </ul>

    <ul class="social-links">
        <li>
            <a
                class="social-link"
                href="https://www.youtube.com/@Postigic"
                target="_blank"
                aria-label="YouTube"
            >
                <i class="bx bxl-youtube"></i>
            </a>
        </li>
        <li>
            <a
                class="social-link"
                href="https://twitter.com/Postigic"
                target="_blank"
                aria-label="Twitter"
            >
                <i class="bx bxl-twitter"></i>
            </a>
        </li>
        <li>
            <a
                class="social-link"
                href="https://github.com/Postigic"
                target="_blank"
                aria-label="GitHub"
            >
                <i class="bx bxl-github"></i>
            </a>
        </li>
    </ul>
</div>
