<div class="navbar">
    <div class="logo">
        <i class="bx bx-code-alt" aria-label="Code Icon"></i>
    </div>
    <ul>
        <li><a href="index.html">Home</a></li>
        <li>
            <a href="portfolio.html">Portfolio</a>
        </li>
        <li><a href="projects.html">Projects</a></li>
    </ul>
    <a
        href="https://www.youtube.com/@Postigic"
        target="_blank"
        aria-label="YouTube"
        ><i class="bx bxl-youtube"></i
    ></a>
    <a href="https://twitter.com/Postigic" target="_blank" aria-label="Twitter"
        ><i class="bx bxl-twitter"></i
    ></a>
    <a href="https://github.com/Postigic" target="_blank" aria-label="GitHub"
        ><i class="bx bxl-github"></i
    ></a>
</div>
