@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}

body {
    height: 100vh;
    background: #171717;
    animation: fadeInAnimation ease 2s;
}

h3,
h4 {
    line-height: 1.6;
}

.navbar {
    background: #18181b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 50px;
}

.navbar .logo {
    color: #ff9742;
    font-size: 35px;
    height: 64px;
    width: 64px;
    background: #18181b;
    border: 1px solid #27272a;
    border-radius: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    margin-right: 25px;
    transition: color 0.3s ease;
    position: relative;
}

.navbar ul li:hover a {
    color: #ff9742;
}

.navbar ul li:last-child a {
    margin: 0;
}

/* .navbar ul li a:hover {
    background: #ff9742;
    color: #26282b;
    border-radius: 5px;
    transition: 0.5s ease;
} */

.main {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("assets/image-cropped.png") no-repeat center center;
    background-size: cover;
    height: 640px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
}

.main .main-content {
    background: rgba(0, 0, 0, 0.65);
    padding: 35px;
    border-radius: 20px;
    text-align: center;
    color: white;
    border: 1px solid #ffaa00;
    box-shadow: 0px 1px 5px rgba(255, 170, 0, 0.8),
        0px 3px 8px rgba(255, 170, 0, 0.6), 0px 5px 10px rgba(255, 170, 0, 0.4),
        0px 8px 15px rgba(255, 170, 0, 0.2);
}

.main .main-content h4 {
    font-size: 32px;
    color: #fff;
    font-weight: 600;
}

.main .main-content h4 span {
    color: #ff9742;
    text-decoration: underline;
}

.main .main-content p.title {
    font-size: 44px;
    font-weight: 600;
    color: #fff;
}

.main .main-content p.subtitle {
    font-size: 16px;
    color: #ccc;
    margin-top: 5px;
}

.main .main-content img {
    width: 250px;
    margin-top: 20px;
    border-radius: 50%;
    border: 10px solid #27272a;
}

.language {
    margin-top: 50px;
    padding: 0 50px;
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
}

.language .item {
    background-color: #18181b;
    border: 1px solid #27272a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    border-radius: 48px;
    padding: 0 30px;
}

.language .item .icon {
    width: 46px;
    height: 46px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.language .item .icon i {
    font-size: 30px;
}

.language .item .info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.language .item .info h3 {
    font-size: 28px;
    color: #ff9742;
}

.language .item .info p {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
}

.about {
    margin: 50px 50px 30px;
    background-color: #18181b;
    border: 1px solid #27272a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    border-radius: 48px;
    padding: 0 80px;
}

.about img {
    width: 280px;
    border-radius: 12px;
}

.about .info h3 {
    color: #fff;
    font-size: 28px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 15px;
}

.about .info p {
    color: #ccc;
    font-size: 15px;
    margin-bottom: 50px;
}

.skills {
    margin: 50px 50px 30px;
    background-color: #18181b;
    border: 1px solid #27272a;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 48px;
    padding: 0 80px;
}

.skills .info {
    width: 1500px;
    padding: 20px;
}

.skills .info h3 {
    color: #fff;
    font-size: 28px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.skills .info p {
    color: #ccc;
    font-size: 14px;
}

.skills img {
    width: 400px;
    border-radius: 12px;
}

footer {
    position: relative;
    background-color: #18181b;
    padding: 80px 50px 40px;
    margin-top: 100px;
}

footer .cols {
    display: flex;
    align-items: start;
}

footer .cols .about-col {
    flex: 3;
}

footer .cols .about-col img {
    width: 70px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 5px solid #27272a;
}

footer .cols .about-col h3 {
    color: #ff9742;
    font-size: 20px;
    margin-bottom: 10px;
}

footer .cols .about-col p {
    color: #ccc;
    font-size: 13px;
}

footer .cols .spacer {
    flex: 5;
}

footer .cols .links-col,
footer .cols .social-col {
    margin-right: 40px;
}

footer .cols .links-col a:hover,
footer .cols .social-col a:hover {
    color: #ff9742;
}

footer .cols .links-col h4,
footer .cols .social-col h4 {
    color: #fff;
    margin-bottom: 20px;
}

footer .cols .links-col a {
    display: block;
    text-decoration: none;
    color: #7b7b7b;
    font-size: 14px;
    line-height: 26px;
    transition: color 0.3s ease;
}

footer .cols .social-col a {
    display: block;
    text-decoration: none;
    color: #7b7b7b;
    font-size: 24px;
    line-height: 30px;
    transition: color 0.3s ease;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 1230px) {
    .language {
        flex-wrap: wrap;
        gap: 10px;
    }

    .language .item {
        flex-basis: 49%;
    }

    .about .info h3,
    .skills .info h3 {
        font-size: 22px;
    }

    .about .info p,
    .skills .info p {
        font-size: 13px;
    }

    footer .cols {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 780px) {
    .main h4 {
        font-size: 24px;
    }

    .main p.title {
        font-size: 36px;
    }

    .main p.subtitle {
        font-size: 14px;
    }

    .language .item {
        flex-basis: 100%;
    }

    .about {
        flex-wrap: wrap;
        justify-content: center;
    }

    .about img {
        width: 200px;
    }

    .skills {
        flex-wrap: wrap;
        justify-content: center;
    }

    footer .cols .spacer {
        flex: 2;
    }

    footer .cols .about-col {
        flex-basis: 100%;
        margin-bottom: 40px;
        margin-right: 25px;
    }

    footer .cols .links-col {
        flex-basis: 100%;
        margin-bottom: 20px;
    }

    footer .cols .social-col {
        flex-basis: 100%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 700px) {
    .navbar {
        justify-content: center;
    }

    .navbar .logo {
        display: none;
    }

    .navbar ul li a {
        font-size: 14px;
    }

    .main .main-content {
        margin-top: 50px;
        height: 340px;
        justify-content: start;
    }

    .main .main-content h4 {
        font-size: 20px;
    }

    .main .main-content p.title {
        font-size: 28px;
    }

    .main .main-content p.subtitle {
        font-size: 12px;
    }

    .main .main-content img {
        width: 150px;
    }

    .about img {
        width: 180px;
    }

    .skills img {
        width: 300px;
    }
}

@media screen and (max-width: 480px) {
    .language .item .info h3 {
        font-size: 20px;
    }

    .language .item .info p {
        font-size: 12px;
    }
}

/*
.btn {
    background: #ff9742;
    padding: 6px 30px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background: #ff8f33;
}
*/
