footer {
    position: relative;
    background-color: var(--background-color);
    border-top: 1px solid var(--accent-color);
    padding: 80px 50px 40px;
    margin-top: 100px;
}

footer .cols {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
}

footer .cols .about-col {
    flex: 3;
}

footer .cols .about-col img {
    width: 70px;
    border-radius: 50%;
    margin-bottom: 5px;
    border: 5px solid var(--accent-color);
}

footer .cols .about-col h3 {
    color: var(--primary-color);
    font-size: 20px;
    margin-bottom: 5px;
}

/* footer .cols .about-col p {
    color: var(--text-color);
    font-size: 13px;
    margin-bottom: 10px;
} */

footer .cols .spacer {
    flex: 1;
}

footer .cols .social-col h4 {
    color: var(--title-text-color);
    margin-bottom: 20px;
}

footer .cols .social-col ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

footer .cols .social-col .social-link {
    display: flex;
    color: #7b7b7b;
    font-size: 24px;
    line-height: 30px;
    transition: all 0.3s ease;
}

footer .cols .social-col .social-link:hover {
    color: var(--hover-color);
    transform: translateY(-2px);
}

footer .cols .social-col .social-link:active {
    transform: translateY(2px);
}

footer .footer-separator {
    width: 100%;
    height: 1px;
    background-color: var(--accent-color);
    margin: 20px 0;
    opacity: 0.6;
}

footer .footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    width: 100%;
}

footer .footer-bottom .footer-text {
    margin: 0;
    font-size: clamp(12px, 2vw, 14px);
    color: var(--text-color);
}

/* footer .footer-bottom .footer-text strike {
    color: #313131;
} */
