@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");
@import url("https://cdn.boxicons.com/fonts/brands/boxicons-brands.min.css");
@import url("https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css");

* {
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
    box-sizing: border-box;
}

:root {
    --primary-color: #ff8200;
    --background-color: #0f0f0f;
    --item-background-color: rgba(30, 30, 45, 0.5);
    --accent-color: #27272a;
    --title-text-color: #fff;
    --text-color: #ccc;
}

html {
    scroll-padding-top: 100px;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: var(--background-color);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(var(--primary-color), var(--accent-color));
    border-radius: 5px;
}

body {
    background-color: var(--background-color);
    background-image: linear-gradient(#141414 1px, transparent 1px),
        linear-gradient(90deg, #141414 1px, transparent 1px);
    background-size: 20px 20px;
}

h1,
h2,
h3,
h4 {
    line-height: 1.6;
}

a {
    text-decoration: none;
}

i {
    line-height: 1;
    vertical-align: middle;
}
