.noscript-warning {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background: var(--background-color);
    color: white;
    text-align: center;
    padding: 30px;
    font-size: 2.5em;
    z-index: 9999;
}

.noscript-warning p {
    background: #ff4444;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    display: inline-block;
}

.main-container {
    margin: 5em 5vw;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}
/* i honestly don't know what is using this but i'm just not gonna touch it */

.animate-target {
    opacity: 0;
    transform: translateY(50px);
    pointer-events: none;
    transition: all 0.4s ease;
}

.animate-target.visible {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
}
