/* Large devices (tablets and up) */
@media screen and (max-width: 1024px) {
    footer .cols {
        flex-wrap: wrap;
    }

    .main .main-content h4 {
        font-size: 24px;
    }

    .main .main-content p.title {
        font-size: 36px;
    }

    .main .main-content p.subtitle {
        font-size: 14px;
    }

    .about {
        flex-wrap: wrap;
        justify-content: center;
    }

    .about img {
        width: 200px;
    }

    .skills {
        flex-wrap: wrap;
        justify-content: center;
    }

    .skills .left img {
        width: 300px;
    }
}

/* Small devices (phones) */
@media screen and (max-width: 700px) {
    nav .navbar {
        height: 65px;
    }

    nav .navbar .nav-links {
        margin: 0;
        flex-grow: 0;
    }

    nav .navbar .nav-links li .nav-link {
        margin-right: 20px;
        font-size: clamp(14px, 4vw, 18px);
    }

    nav .navbar .nav-links li:last-child .nav-link {
        margin-right: 0;
    }

    nav .navbar .social-links {
        display: none;
    }

    .minor-info {
        gap: 15px;
    }

    .main {
        height: 550px;
    }

    .main .main-content {
        margin-top: 50px;
        height: 340px;
        justify-content: start;
    }

    .main .main-content h4 {
        font-size: 20px;
    }

    .main .main-content p.title {
        font-size: 28px;
    }

    .main .main-content p.subtitle {
        font-size: 12px;
    }

    .main .main-content img {
        width: 150px;
    }

    .main .main-content a {
        font-size: 18px;
        padding: 8px 15px;
    }

    .main .main-content a i {
        font-size: 18px;
    }

    .about {
        padding: 30px;
    }

    .about img {
        width: 180px;
    }

    .year-container {
        padding: 40px 40px;
    }

    .projects {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    .project img {
        max-width: 300px;
    }

    .languages {
        gap: 10px;
    }

    .filter-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .awards .year-container .awards-grid {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    #backToTop {
        bottom: 15px;
        right: 15px;
        width: 40px;
        height: 40px;
    }

    footer .cols .social-col {
        flex-basis: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
