/* Large devices (tablets and up) */
@media screen and (max-width: 1024px) {
    footer .cols {
        flex-wrap: wrap;
    }

    .main .main-content h4 {
        font-size: 24px;
    }

    .main .main-content p.title {
        font-size: 36px;
    }

    .main .main-content p.subtitle {
        font-size: 14px;
    }

    .about .info .bio-text {
        padding: 40px 40px;
    }

    .minor-info {
        padding: 40px 40px;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .skills {
        flex-wrap: wrap;
        justify-content: center;
    }

    .skills .left img {
        width: 300px;
    }
}

/* Small devices (phones) */
@media screen and (max-width: 700px) {
    nav .navbar {
        height: 65px;
    }

    nav .navbar .nav-links {
        margin: 0;
        flex-grow: 0;
    }

    nav .navbar .nav-links li .nav-link {
        margin-right: 20px;
        font-size: clamp(14px, 4vw, 18px);
    }

    nav .navbar .nav-links li:last-child .nav-link {
        margin-right: 0;
    }

    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }

    .projects {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    .project img {
        max-width: 300px;
    }

    .languages {
        gap: 10px;
    }

    .filter-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .awards .year-container .awards-grid {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    #backToTop {
        bottom: 15px;
        right: 15px;
        width: 40px;
        height: 40px;
    }

    footer .cols .social-col {
        flex-basis: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
