.page-intro {
    text-align: center;
    animation: slideUp 0.5s ease-out;
}

.page-intro .intro-img {
    margin-top: 5em;
    width: clamp(300px, 30vw, 500px);
    height: auto;
    border-radius: 16px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    border: 3px solid transparent;
    background: linear-gradient(
            45deg,
            var(--primary-color),
            var(--accent-color)
        )
        border-box;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.page-intro .intro-img:hover {
    transform: scale(1.03) rotate(-2deg);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4) !important;
}

.page-intro h1 {
    font-size: clamp(2rem, 4vw, 3rem);
    margin-top: 15px;
    color: var(--title-text-color);
}

.page-intro h1 span {
    color: var(--primary-color);
    text-decoration: underline;
    font-style: italic;
}
