.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url("../../assets/images/bleeehh.jpg") no-repeat center center;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: max(65em, 100vh);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    box-shadow: 0 0 50px #000000;
    padding: 25vh 20px 0;
}

.hero .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(30, 30, 45, 0.5);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0px 0px 20px 4px rgba(255, 170, 0, 0.8),
        0px 0px 30px 6px rgba(255, 170, 0, 0.6),
        0px 0px 40px 8px rgba(255, 170, 0, 0.4),
        0px 0px 50px 10px rgba(255, 170, 0, 0.2);
    animation: flicker 2s infinite;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-delay: calc(-0.5s * 7);
    width: 100%;
    max-width: 500px;
    margin: 0 20px;
    backdrop-filter: blur(8px);
}

.hero-content > * {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeUp 0.35s forwards;
}

.hero-content h1 {
    animation-delay: 0.2s;
}
.hero-img {
    animation-delay: 0.4s;
}
.hero-text {
    animation-delay: 0.6s;
}

.hero .hero-content h1 {
    font-size: clamp(1.8rem, 6vw, 3rem);
    color: var(--title-text-color);
    font-weight: 600;
}

.hero .hero-content h1 span {
    background: linear-gradient(120deg, var(--primary-color), #ffaa00);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    display: inline-block;
    font-style: italic;
}

.hero .hero-content h1 span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0.3em;
    width: 100%;
    height: 3px;
    border-radius: 3px;
    background: linear-gradient(120deg, var(--primary-color), #ffaa00);
}

.hero .hero-content p.title {
    font-size: clamp(1rem, 6vw, 2.5rem);
    font-weight: 600;
    font-style: italic;
    -webkit-text-stroke: 1px var(--title-text-color);
    margin-top: 10px;
}

#typewriter::after {
    content: "|";
    animation: blink 1s infinite step-end;
    margin-left: 2px;
}

.hero .hero-content p.subtitle {
    font-size: clamp(1rem, 2vw, 1.2rem);
    color: var(--text-color);
    margin-top: 10px;
}

.hero .hero-content img {
    width: clamp(150px, 20vw, 300px);
    margin-top: 20px;
    border-radius: 50%;
    border: 10px solid var(--accent-color);
}

#index-main-container section {
    margin-bottom: 10em;
}

#index-main-container > section:last-child {
    margin-bottom: 0;
}

.about {
    margin: 0 auto;
    /* backdrop-filter: blur(8px);
    background: rgba(20, 20, 35, 0.7);
    overflow: hidden; */
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 50px;
    max-width: 77em;
    position: relative;
    transition: all 0.3s ease;
    align-items: center;
}

/* .about::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(
        circle,
        rgba(255, 130, 0, 0.05) 0%,
        transparent 60%
    );
    z-index: -1;
} */

/* .about img {
    width: 280px;
    border-radius: 12px;
    rotate: -5deg;
    transform: perspective(600px) rotateY(10deg);
    transform-style: preserve-3d;
    box-shadow: 0 25px 40px rgba(0, 0, 0, 0.4) !important;
    border: 3px solid transparent;
    background: linear-gradient(
            45deg,
            var(--primary-color),
            var(--accent-color)
        )
        border-box;
    transition: all 0.5s ease;
} */

/* .about img:hover {
    transform: perspective(600px) rotateY(15deg) rotate(5deg) !important;
    box-shadow: 0 35px 60px rgba(0, 0, 0, 0.6) !important;
} */

.about img {
    width: 280px;
    border-radius: 12px;
    transition: all 0.5s ease;
    object-fit: cover;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}

.about .info h2 {
    color: var(--title-text-color);
    font-size: clamp(1.5rem, 4vw, 1.8rem);
    margin-bottom: 30px;
    font-weight: 600;
    text-align: center;
}

.about .info .bio-text {
    background: var(--background-color);
    border: 1px solid var(--accent-color);
    border-radius: 12px;
    padding: 2em 3em;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}

.about .info .bio-text:not(:last-child) {
    margin-bottom: 20px;
}

.about .info .bio-text p {
    color: var(--text-color);
    font-size: clamp(1rem, 2vw, 1.2rem);
    margin-bottom: 20px;
}

.about .info .bio-text p a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    position: relative;
    display: inline-block;
}

.about .info .bio-text p a:hover::after {
    width: 100%;
}

.about .info .bio-text p a::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1.7px;
    background: var(--primary-color);
    transition: width 0.3s ease-in-out;
}

.about .info .bio-text ul {
    color: var(--text-color);
    font-size: clamp(1rem, 2vw, 1.2rem);
    margin-left: 20px;
    list-style: none;
    padding-left: 0;
    margin-bottom: 20px;
}

.about .info .bio-text ul li::before {
    content: "- ";
}

/* .minor-info {
    display: grid;
    background: var(--background-color);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 30px;
    text-align: center;
    border: 1px solid var(--accent-color);
    border-radius: 24px;
    padding: 2em 3em;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}

.minor-info .info {
    background: var(--item-background-color);
    border-radius: 12px;
    padding: 10px 15px;
    gap: 10px;
    color: var(--text-color);
    font-size: clamp(1rem, 2vw, 1.2rem);
    backdrop-filter: blur(8px);
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .minor-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 50px;
    text-align: center;
    border: 1px solid var(--accent-color);
    border-radius: 48px;
    padding: 40px 80px;
}

.minor-info .info {
    display: flex;
    gap: 10px;
    margin: 5px 0;
    border: 1px solid var(--accent-color);
    background: rgba(30, 30, 45, 0.5);
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 100px;
    border-radius: 12px;
    padding: 10px 15px;
    color: var(--text-color);
    font-size: clamp(0.9rem, 2vw, 1.2rem);
    backdrop-filter: blur(8px);
    position: relative;
    overflow: hidden;
}

.minor-info .info::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        120deg,
        transparent,
        rgba(255, 255, 255, 0.1),
        transparent
    );
    transform: translateX(-100%);
    animation: shimmer 2s infinite;
} */

.skills-section {
    border: 1px solid var(--accent-color);
    padding: 40px 80px;
    border-radius: 12px;
    text-align: center;
    max-width: 77em;
    margin: 5em auto 5em;
    transition: opacity 0.4s ease-out, transform 0.4s ease-out;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    background: var(--background-color);
}

.skills-section h2 {
    font-size: clamp(1.5rem, 4vw, 1.8rem);
    color: var(--title-text-color);
    font-weight: 600;
    margin-bottom: 30px;
}

.skills {
    display: flex;
    flex-direction: column;
    gap: 5em;
    position: relative;
}

.skill-category {
    border: 1px solid var(--accent-color);
    padding: 20px 80px;
    border-radius: 12px;
    text-align: center;
    width: 100%;
    transition: opacity 0.4s ease-out, transform 0.4s ease-out;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    background: var(--background-color);
}

.skill-category h2 {
    color: var(--title-text-color);
    font-size: clamp(1.5rem, 4vw, 1.8rem);
    margin-bottom: 30px;
    font-weight: 600;
    text-align: center;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.skill-item {
    display: flex;
    flex: 0 1 250px;
    align-items: center;
    justify-content: center;
    justify-self: flex-start;
    background-color: var(--item-background-color);
    padding: 10px 20px;
    border: 1px solid var(--accent-color);
    border-radius: 12px;
    gap: 10px;
    position: relative;
    height: 70px;
    overflow: hidden;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    pointer-events: none;
    cursor: pointer;
}

.skill-item.open {
    justify-content: flex-start;
    height: 300px;
    width: 250px;
    flex-direction: column;
    z-index: 2;
    border-color: var(--primary-color);
}

.skill-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(
        90deg,
        var(--primary-color),
        var(--accent-color)
    );
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.skill-item.open::before {
    transform: scaleX(1);
}

.skill-item p {
    font-size: clamp(1rem, 2vw, 1.2rem);
    color: var(--title-text-color);
}

.chevron-hint {
    position: relative;
    color: #48484d;
    margin-left: auto;
    font-size: 2rem;
    transform: translateY(-3.5px);
}
/* i genuinely don't remember writing whatever bloat was in this */

.skill-item.open .chevron-hint {
    opacity: 0;
}

.skill-item .info {
    opacity: 0;
    transition: all 0.3s ease;
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    text-align: center;
}

.skill-item.open .info {
    opacity: 1;
}

.skill-item .info p {
    font-size: clamp(0.9rem, 2vw, 1.1rem);
    color: var(--text-color);
    padding: 15px;
}

.skill-item .documentation-button {
    position: absolute;
    top: 200px;
    opacity: 0;
    margin-top: 50px;
    border: 1px solid var(--accent-color);
    color: var(--title-text-color);
    padding: 8px 16px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 1.1rem;
    text-align: center;
    display: inline-block;
    transition: all 0.3s ease;
}

.skill-item.open .documentation-button {
    opacity: 1;
}

.skill-item.open .documentation-button:hover {
    background-color: var(--primary-color);
    transform: translateY(-3px);
}

.skill-item.open .documentation-button:active {
    transform: translateY(1px);
}

.icon i {
    font-size: clamp(30px, 5vw, 40px);
}

.achievements-preview,
.projects-preview {
    max-width: 70em;
    margin: 0 auto;
    padding: 2em 3em;
    border: 1px solid var(--accent-color);
    border-radius: 12px;
    font-size: clamp(1rem, 2vw, 1.1rem);
    background: var(--background-color);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}

.achievements-preview h2,
.projects-preview h2 {
    color: var(--title-text-color);
    font-size: clamp(1.5rem, 4vw, 1.8rem);
    margin-bottom: 30px;
    font-weight: 600;
    text-align: center;
}

#achievements-preview-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1.5rem;
}

.achievement-preview-card {
    background: var(--item-background-color);
    border: 1px solid var(--accent-color);
    border-radius: 8px;
    padding: 1.2em 1.5em;
    color: var(--text-color);
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
    font-weight: 600;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.achievement-preview-card:hover {
    transform: translateY(-5px) !important;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-color: var(--primary-color);
}

#projects-preview-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
}

.project-preview-card {
    background: var(--item-background-color);
    border: 1px solid var(--accent-color);
    border-radius: 8px;
    padding: 1.5em 1.8em;
    color: var(--text-color);
    position: relative;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.project-preview-card:hover {
    transform: translateY(-5px) !important;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-color: var(--primary-color);
}

.project-preview-card:active {
    transform: translateY(1px) !important;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.project-preview-card h3 {
    margin-bottom: 0.5em;
    font-size: clamp(1.3rem, 2vw, 1.7rem);
    color: var(--primary-color);
    position: relative;
}

.project-preview-card h3::after {
    content: "";
    position: absolute;
    bottom: 6px;
    left: 0;
    width: 0;
    height: 2px;
    border-radius: 3px;
    background-color: var(--primary-color);
    transition: width 0.3s ease;
}

.project-preview-card:hover h3::after {
    width: 100%;
}

.project-preview-card img {
    max-width: clamp(300px, 5vw, 400px);
    width: 100%;
    aspect-ratio: 1;
    height: auto;
    object-fit: cover;
    object-position: top center;
    border-radius: 12px;
}

.project-preview-card p {
    margin-bottom: 1em;
    line-height: 1.4;
    color: var(--text-color);
}

.achievement-preview-card::before,
.project-preview-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(
        90deg,
        var(--primary-color),
        var(--accent-color)
    );
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.achievement-preview-card:hover::before,
.project-preview-card:hover::before {
    transform: scaleX(1);
}

.achievements-preview .button,
.projects-preview .button {
    position: relative;
    display: inline-flex;
    margin-top: 2.5em;
    color: var(--primary-color);
    font-weight: 600;
    line-height: 1;
    vertical-align: middle;
    text-decoration: none;
    padding-bottom: 2px;
    font-size: clamp(1rem, 2vw, 1.2rem);
}

.achievements-preview .button::after,
.projects-preview .button::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    border-radius: 3px;
    background: var(--primary-color);
    transition: width 0.3s ease;
}

.achievements-preview .button:hover::after,
.projects-preview .button:hover::after {
    width: 100%;
}

/* .socials {
    margin: 0 auto;
    border: 1px solid var(--accent-color);
    background: var(--background-color);
    text-align: center;
    align-items: center;
    gap: 80px;
    border-radius: 12px;
    padding: 2em 3em;
    max-width: 77em;
    position: relative;
    transition: all 0.3s ease;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}

.socials h2 {
    color: var(--title-text-color);
    font-size: clamp(1.5rem, 4vw, 1.8rem);
    margin-bottom: 30px;
    font-weight: 600;
}

.socials-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    justify-items: center;
}

.social-card {
    color: white;
    margin-bottom: 20px;
    padding: 1rem;
    border-radius: 12px;
    width: 100%;
    max-width: 150px;
    text-align: center;
    font-size: clamp(1rem, 2vw, 1.2rem);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.social-card.visible:hover {
    transform: translateY(-5px) !important;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.social-card.visible:active {
    transform: translateY(1px) !important;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.social-card i {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
} */
