.projects {
    padding-top: 5em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(470px, 1fr));
    gap: 30px;
}

.project {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border: 1px solid var(--accent-color);
    border-radius: 48px;
    padding: 25px;
    color: var(--title-text-color);
    gap: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.project,
.project > * {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.3s ease;
}

.project.visible,
.project.visible > * {
    opacity: 1;
    transform: translateY(0);
}

.project:hover {
    transform: scale(1.05);
    border-color: var(--primary-color);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.project:active {
    transform: scale(0.95);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.project h2 {
    font-size: clamp(1.5rem, 4vw, 1.8rem);
    color: var(--title-text-color);
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.3s ease;
}

.project:hover h2 {
    color: var(--primary-color);
}

.project:hover h2::after {
    width: 100%;
}

.project h2::after {
    content: "";
    position: absolute;
    bottom: 7px;
    left: 0;
    width: 0;
    height: 1.7px;
    background-color: var(--primary-color);
    transition: width 0.3s ease;
}

.project p {
    font-size: clamp(1rem, 2vw, 1.2rem);
    text-align: center;
    color: var(--text-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.project img {
    width: 100%;
    max-width: clamp(300px, 50vw, 400px);
    aspect-ratio: 1;
    height: auto;
    object-fit: cover;
    object-position: top center;
    border-radius: 12px;
    transition: all 0.3s ease;
    margin: 15px;
    /* border: 3px solid transparent;
    background: linear-gradient(
            45deg,
            var(--primary-color),
            var(--accent-color)
        )
        border-box; */
}

/* .project img:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(255, 130, 0, 0.3);
} */

.languages {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.language-item {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
    font-size: clamp(1rem, 2vw, 1.2rem);
    border-radius: 12px;
    padding: 10px;
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    background: linear-gradient(
        to bottom right,
        var(--lang-color, rgba(255, 255, 255, 0.1)) 0%,
        rgba(255, 255, 255, 0.05) 100%
    );
}

.language-item i {
    font-size: clamp(30px, 5vw, 40px);
}

.language-item p {
    color: var(--title-text-color);
    font-size: clamp(1rem, 2vw, 1.2rem);
}
