.projects {
    padding-top: 5em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(470px, 1fr));
    gap: 5em;
    align-items: start;
}

.project {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border: 1px solid var(--accent-color);
    border-radius: 12px;
    padding: 20px;
    color: var(--title-text-color);
    gap: 15px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    background: var(--background-color);
    height: 100%;
}

.project::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(
        90deg,
        var(--primary-color),
        var(--accent-color)
    );
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.project:hover {
    transform: translateY(-10px) !important;
    border-color: var(--primary-color);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.project:hover::before {
    transform: scaleX(1);
}

.project:active {
    transform: translateY(1px) !important;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.project h2 {
    font-size: clamp(1.5rem, 4vw, 1.8rem);
    color: var(--title-text-color);
    position: relative;
    transition: all 0.3s ease;
}

.project:hover h2 {
    color: var(--primary-color);
}

.project:hover h2::after {
    width: 100%;
}

.project h2::after {
    content: "";
    position: absolute;
    bottom: 7px;
    left: 0;
    width: 0;
    height: 2px;
    border-radius: 3px;
    background-color: var(--primary-color);
    transition: width 0.3s ease;
}

.project p {
    font-size: clamp(1rem, 2vw, 1.2rem);
    text-align: center;
    color: var(--text-color);
    max-width: 100%;
}

.project img {
    width: 100%;
    max-width: clamp(300px, 50vw, 400px);
    aspect-ratio: 1;
    height: auto;
    object-fit: cover;
    object-position: top center;
    border-radius: 12px;
    transition: all 0.3s ease;
    margin: 15px;
}

.languages {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.language-item {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
    font-size: clamp(1rem, 2vw, 1.2rem);
    border-radius: 12px;
    padding: 10px;
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    background: linear-gradient(
        to bottom right,
        var(--lang-color, rgba(255, 255, 255, 0.1)) 0%,
        rgba(255, 255, 255, 0.05) 100%
    );
}

.language-item i {
    font-size: clamp(30px, 5vw, 40px);
}

.language-item p {
    color: var(--title-text-color);
    font-size: clamp(1rem, 2vw, 1.2rem);
}
